<div class="my-4 mx-5 border border-black ">
    <div class=" d-flex justify-content-between post align-items-center px-4 py-2 rounded-top">
    <a href="/post/{{id}}"><h2>{{posts.title}}</h2></a>
    <p>posted by {{posts.user.username}} on {{format_date posts.date}}</p>
    </div>
        <p id="content" class="py-3 px-5 rounded-bottom "> {{posts.content}} </p>
</div>

{{#if comments.length}} 
<div class="my-4 mx-5 box">
    <div class=" d-flex justify-content-between post align-items-center px-4 py-2 rounded-top">
    
    <a href="/post/{{id}}"><h2>Box of comments</h2></a>
    
    </div>   
    {{#each comments as |com|}}
        <p  class="px-5 py-1 rounded-bottom "> {{com.comment}} </p>
        <p  class="px-5 py-1 rounded-bottom "> --{{com.user.username}}, {{format_date date}} </p>
     {{/each}}     
</div>
{{/if}}

<div class="my-5 mx-5 box"> 
    <h2 class="page-title px-4 py-2">New Comment</h2>
    <form id="loginForm" class="form login-form px-5">
      <div class="form-group row">
        <label for="username-login">Comment:</label>
        <input class="form-input" type="text" id="newComment" />
      </div>
      <div class="form-group text-center py-2 row">
        <button class="btn btn-secondary" type="submit" id="post-comment" data-id="{{posts.id}}">Submit</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/comment.js"></script>


